{% set s = module.styles %}

<div class="dx-products-grid dx-products-grid--cols-{{ s.layout.columns }}"
  style="
    --btn-hover-bg: {{ s.button.button_hover_background_color.color }};
    --btn-hover-color: {{ s.button.button_hover_text_color.color }};
  "
>
  {% for card in module.cards %}
  <div class="dx-products-card"
    style="
      background-color: {{ s.card.card_background_color.color }};
      border-radius: {{ s.card.card_border_radius }}px;
      padding-top: {{ s.card.card_padding.padding.top.value }}{{ s.card.card_padding.padding.top.units }};
      padding-right: {{ s.card.card_padding.padding.right.value }}{{ s.card.card_padding.padding.right.units }};
      padding-bottom: {{ s.card.card_padding.padding.bottom.value }}{{ s.card.card_padding.padding.bottom.units }};
      padding-left: {{ s.card.card_padding.padding.left.value }}{{ s.card.card_padding.padding.left.units }};
    "
  >

    {% if card.card_image.src %}
    <div class="dx-products-card__image" style="margin-bottom: {{ s.typography.image_bottom_spacing }}px;">
      <img
        src="{{ card.card_image.src }}"
        alt="{{ card.card_image.alt }}"
        {% if card.card_image.width %}width="{{ card.card_image.width }}"{% endif %}
        {% if card.card_image.height %}height="{{ card.card_image.height }}"{% endif %}
        loading="lazy"
      >
    </div>
    {% endif %}

    <div class="dx-products-card__content">
      {% if card.card_title %}
      <h3 class="dx-products-card__title"
        style="color: {{ s.typography.title_color.color }}; font-size: {{ s.typography.title_font_size }}px;">
        {{ card.card_title }}
      </h3>
      {% endif %}

      {% if card.card_description %}
      <div class="dx-products-card__description"
        style="color: {{ s.typography.description_color.color }}; font-size: {{ s.typography.description_font_size }}px;">
        {{ card.card_description }}
      </div>
      {% endif %}
    </div>

    {% if card.card_button.button_text %}
    <div class="dx-products-card__footer">
      {% set btn = card.card_button %}
      <a
        href="{{ btn.button_link.url.href }}"
        class="dx-products-card__btn"
        {% if btn.button_link.open_in_new_tab and btn.button_link.no_follow %}
          target="_blank" rel="noopener noreferrer nofollow"
        {% elif btn.button_link.open_in_new_tab %}
          target="_blank" rel="noopener noreferrer"
        {% elif btn.button_link.no_follow %}
          rel="nofollow"
        {% endif %}
        style="
          background-color: {{ s.button.button_background_color.color }};
          color: {{ s.button.button_text_color.color }};
          border-radius: {{ s.button.button_border_radius }}px;
          padding-top: {{ s.button.button_padding.padding.top.value }}{{ s.button.button_padding.padding.top.units }};
          padding-right: {{ s.button.button_padding.padding.right.value }}{{ s.button.button_padding.padding.right.units }};
          padding-bottom: {{ s.button.button_padding.padding.bottom.value }}{{ s.button.button_padding.padding.bottom.units }};
          padding-left: {{ s.button.button_padding.padding.left.value }}{{ s.button.button_padding.padding.left.units }};
        "
      >
        {{ btn.button_text }}
      </a>
    </div>
    {% endif %}

  </div>
  {% endfor %}
</div>
