<div class="dx-products-grid dx-products-grid--cols-{{ module.layout.columns }}">
  {% for card in module.cards %}
  <div class="dx-products-card">

    {% if card.card_image.src %}
    <div class="dx-products-card__image">
      <img
        src="{{ card.card_image.src }}"
        alt="{{ card.card_image.alt }}"
        {% if card.card_image.width %}width="{{ card.card_image.width }}"{% endif %}
        {% if card.card_image.height %}height="{{ card.card_image.height }}"{% endif %}
        loading="lazy"
      >
    </div>
    {% endif %}

    <div class="dx-products-card__content">
      {% if card.card_title %}
      <h3 class="dx-products-card__title">
        {{ card.card_title }}
      </h3>
      {% endif %}

      {% if card.card_description %}
      <div class="dx-products-card__description">
        {{ card.card_description }}
      </div>
      {% endif %}
    </div>

    {% if card.card_button.button_text %}
    <div class="dx-products-card__footer">
      {% set btn = card.card_button %}
      <a
        href="{{ btn.button_link.url.href }}"
        class="dx-btn dx-hero__blog-btn"
        {% if btn.button_link.open_in_new_tab and btn.button_link.no_follow %}
          target="_blank" rel="noopener noreferrer nofollow"
        {% elif btn.button_link.open_in_new_tab %}
          target="_blank" rel="noopener noreferrer"
        {% elif btn.button_link.no_follow %}
          rel="nofollow"
        {% endif %}
      >
        <span class="dx-btn-text">{{ btn.button_text }}</span>
          <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M12.4287 6.00006L1.00014 6.00006M12.4287 6.00006L8.80059 11.0001M12.4287 6.00006L8.80059 1.00006" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
        </svg>
      </a>
    </div>
    {% endif %}

  </div>
  {% endfor %}
</div>
