.dx-connect-hero {
  padding: 100px 0 160px;
}

.dx-connect-hero__content {
  max-width: 935px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.dx-connect-hero__subheading {
    font-size: 20px;
    line-height: 1.4;
    max-width: 625px;
    width: 100%;
}

.dx-connect-hero__subheading p {
  margin: 0;
}

.dx-connect-hero__cta-wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.dx-connect-hero__below-btn {
  font-size: 12px;
  margin: 0;
}

@media (max-width: 1024px) {
  .dx-connect-hero__content {
    max-width: 765px;
  }
  .dx-connect-hero__top-text {
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  .dx-connect-hero {
      padding: 60px 0 130px;
  }
  .dx-connect-hero__subheading {
    font-size: 16px;
  }
  .dx-connect-hero__content {
      max-width: 620px;
  }
  .dx-connect-hero__subheading {
      max-width: 505px;
  }
}
@media (max-width: 480px) {
  .dx-connect-hero__content{
    gap: 16px;
  }
  .dx-connect-hero {
    padding: 48px 0 230px;
  }
  .dx-connect-hero__below-btn{
    font-size: 10px;
    line-height: 1.3;
  }
  .dx-connect-hero__below-btn {
    width: 100%;
    max-width: 200px;
  }
}