{% set s = module.styles %}
{% set cs = s.content_style %}
{% set fcs = s.form_card_style %}
{% set bs = fcs.button_style %}

<style>
  {% if cs.enable_styles %}
  #dx-accelerators-form .dx-accelerators-form__heading {
    color: {{ cs.heading_color.color }};
    opacity: {{ cs.heading_color.opacity / 100 }};
  }
  #dx-accelerators-form .dx-accelerators-form__description {
    color: {{ cs.description_color.color }};
    opacity: {{ cs.description_color.opacity / 100 }};
  }
  {% endif %}
  {% if fcs.enable_styles %}
  #dx-accelerators-form .dx-accelerators-form__form-card {
    background-color: {{ fcs.card_bg_color.color }};
  }
  #dx-accelerators-form .dx-accelerators-form__form-wrapper .hs-form label {
    color: {{ fcs.label_color.color }};
  }
  #dx-accelerators-form .dx-accelerators-form__form-wrapper .hs-form input:not([type="submit"]),
  #dx-accelerators-form .dx-accelerators-form__form-wrapper .hs-form select,
  #dx-accelerators-form .dx-accelerators-form__form-wrapper .hs-form textarea {
    background-color: {{ fcs.input_bg_color.color }};
    border-color: {{ fcs.input_border_color.color }};
    color: {{ fcs.input_text_color.color }};
  }
  #dx-accelerators-form .dx-accelerators-form__form-wrapper .hs-form input::placeholder,
  #dx-accelerators-form .dx-accelerators-form__form-wrapper .hs-form textarea::placeholder {
    color: {{ fcs.placeholder_color.color }};
  }
  #dx-accelerators-form .dx-accelerators-form__form-wrapper .hs-form input[type="submit"],
  #dx-accelerators-form .dx-accelerators-form__form-wrapper .hs-form .hs-button {
    background-color: {{ bs.button_bg_color.color }};
    color: {{ bs.button_text_color.color }};
    border-color: {{ bs.button_bg_color.color }};
  }
  #dx-accelerators-form .dx-accelerators-form__form-note {
    color: {{ fcs.form_note_color.color }};
    opacity: {{ fcs.form_note_color.opacity / 100 }};
  }
  {% endif %}
</style>

<section id="dx-accelerators-form" class="dx-accelerators-form">
  <div class="dx-module__container content-wrapper">
    <div class="dx-accelerators-form__inner">

      {# ---- Content Panel ---- #}
      <div class="dx-accelerators-form__content">

        {% if module.content.heading %}
        <h2 class="dx-accelerators-form__heading">{{ module.content.heading }}</h2>
        {% endif %}

        {% if module.content.description %}
        <div class="dx-accelerators-form__description">{{ module.content.description }}</div>
        {% endif %}

        {% if module.content.image.src %}
        <div class="dx-accelerators-form__image">
          <img src="{{ module.content.image.src }}"
               alt="{{ module.content.image.alt }}"
               {% if module.content.image.width %}width="{{ module.content.image.width }}"{% endif %}
               {% if module.content.image.height %}height="{{ module.content.image.height }}"{% endif %}>
        </div>
        {% endif %}

      </div>

      {# ---- Form Card ---- #}
      <div class="dx-accelerators-form__form-card">

        <div class="dx-form dx-accelerators-form__form-wrapper">
          {% form form_to_use="{{ module.form.form_id }}"
                 response_response_type="{{ module.form.response_type }}"
                 response_message="{{ module.form.message }}"
                 response_redirect_id="{{ module.form.redirect_id }}"
                 response_redirect_url="{{ module.form.redirect_url }}" %}
        </div>

        {% if module.form_note %}
        <div class="dx-accelerators-form__form-note">{{ module.form_note }}</div>
        {% endif %}

      </div>

    </div>
  </div>
</section>
