.pdx-blog-listing {
  padding-bottom: 40px;
  padding-top: 100px;
}
.pdx-blog-listing__header-title--hide {
  display: none;
}
.pdx-blog-listing__breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0 0 40px 0;
  padding: 0;
  gap: 10px;
}
.pdx-blog-listing__breadcrumbs a {
  color: #3f4f67;
}
.pdx-blog-listing__breadcrumbs li:last-child {
  font-weight: 700;
}
.pdx-blog-listing__breadcrumbs svg {
  display: inline-block;
  margin-left: 10px;
}
.pdx-blog-listing__tag-list-wrap {
  overflow-y: auto;
  margin: 40px 0;
}
.pdx-blog-listing__tag-list {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  list-style: none;
  gap: 12px;
  flex-wrap: nowrap;
  text-transform: capitalize;
}
.pdx-blog-listing__tag-list li a {
  display: block;
  padding: 7px 16px;
  border: 1px solid #3F4F67;
  font-size: 14px;
  border-radius: 8px;
  color: #3F4F67;
  font-weight: 700;
  white-space: nowrap;
}
.pdx-blog-listing__tag-list li .active {
  background-color: #f3f3f3;
  border-color: #f3f3f3;
}
.pdx-blog-listing__row {
  display: flex;
  flex-wrap: wrap;
  gap: 32px 0;
  margin: 0 -16px;
}
.pdx-blog-listing__col {
  padding: 0 16px;
  max-width: 100%;
  flex: 0 0 100%;
}
.pdx-blog-listing__box {
  background-color: #f3f3f3;
  border-radius: 16px;
  padding: 32px;
  transition: all .4s ease-in-out;
  width: 100%;
  height: 100%;
}
.pdx-blog-listing__box:hover {
  background-color: #FFFFFF;
  box-shadow: 0 5px 60px -15px rgba(71, 71, 79, 0.15);
}
.pdx-blog-listing__featured-img img {
  border-radius: 16px;
  aspect-ratio: 3/2;
  object-fit: cover;
}
.pdx-blog-listing__content {
  margin-top: 16px;
}
.pdx-blog-listing__content h2 {
  font-size: 18px;
  margin: 0;
}
.pdx-blog-listing__content a {
  color: #3F4F67;
}
.pdx-blog-listing__pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  gap: 16px;
}
.pdx-blog-listing__pagination-next-arrow,
.pdx-blog-listing__pagination-prev-arrow{
  width: 24px;
  height: 24px;
  border: 1px solid #3F4F67;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  display: flex;
}
.pdx-blog-listing__pagination-page-info {
  font-weight: 700;
}
.pdx-blog-listing__featured-placeholder {
  aspect-ratio: 3/2;
  font-weight: 700;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d81f26;
  color: #fff;
  text-transform: capitalize;
  font-size: 18px;
  border-radius: 16px;
}
.pdx-blog-listing__header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.pdx-blog-listing__header .hs-search-field {
  flex: 0 0 100%;
  max-width: 100%;
  position: relative;
}
.pdx-blog-listing__header .hs-search-field__suggestions {
  background-color: #f3f3f3;
  border-radius: 8px;
  left: 0;
  list-style: none;
  margin: 0;
  padding: 15px 30px;
  position: absolute;
  right: 0;
  top: 44px;
  display: none;
}
.pdx-blog-listing__header .hs-search-field--open .hs-search-field__suggestions {
  display: block;
}
.pdx-blog-listing__header .hs-search-field__suggestions #results-for {
  font-weight: 500;
  font-size: 18px;
}
.pdx-blog-listing__header .hs-search-field__suggestions li {
  margin: 10px 0;
}
.pdx-blog-listing__header form input[type=text] {
  border: 1px solid #9f9f9f;
  border-radius: 8px;
  padding: 10px 16px 10px 50px;
  font-size: 14px;
}
.pdx-blog-listing__header form label {
  display: none;
}
.pdx-blog-listing__header form {
  position: relative;
}
.pdx-blog-listing__header form button {
  background-color: transparent;
  padding: 0;
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
}
.hs-search-field__search-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
}
.pdx-blog-listing__header .hs-search-field {
  margin-top: 40px;
}
.pdx-blog-listing__tags {
  margin-top: 8px;
  font-size: 12px;
}
.pdx-blog-listing__tags a:not(:last-child)::after {
  content: '|';
  margin: 0 5px;
}

.pdx-blog-listing__header-title span {
  display: block;
  color: #d81f26;
}
@media only screen and (min-width: 1024px) {
  .pdx-blog-listing__header .hs-search-field {
    flex: 0 0 55%;
    max-width: 55%;
    position: relative;
  }
  .pdx-blog-listing__header-left-col {
    max-width: 40%;
    flex: 0 0 40%;
  }
  .pdx-blog-listing__col {
    padding: 0 16px;
    max-width: 33.333%;
    flex: 0 0 33.333%;
  }
  .pdx-blog-listing__header .hs-search-field {
    margin-top: 0;
  }
  .pdx-blog-listing {
    padding-top: 150px;
    padding-bottom: 64px;
  }
  .pdx-blog-listing__tag-list {
    flex-wrap: wrap;
  }
  .pdx-blog-listing__tag-list li a {
    white-space: normal;
  }
}

@media only screen and (max-width: 1023px){
  .pdx-blog-listing__row{
    gap: 24px 0;
  }
  .pdx-blog-listing__col {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 12px;
  }
  .pdx-blog-listing__box{
    padding: 24px;
  }
  .pdx-blog-listing__content h2 {
    font-size: 16px;
    line-height: 1.2;
  }
  .pdx-blog-listing__header .hs-search-field {
    margin-top: 16px;
  }
  .pdx-blog-listing__header-title span{
    line-height: 1.2;
  }
  .pdx-blog-listing__breadcrumbs{
    font-size: 14px;
  }
  .pdx-blog-listing__tag-list li a{
    font-size: 12px;
    padding: 5px 12px;
  }
  .pdx-blog-listing__tag-list-wrap {
    margin: 24px 0 30px;
  }
  a.pdx-blog-listing__tag {
    font-size: 14px;
  }
  .pdx-blog-listing__tags a:not(:last-child):after{
    margin: 0 5px;
  }
}

@media only screen and (max-width: 767px){
  .pdx-blog-listing__col{
    flex: unset;
    max-width: 100%;
    padding: 0;
  }
  .pdx-blog-listing__row {
    margin: 0;
  }
  .pdx-blog-listing__breadcrumbs {
    font-size: 12px;
    margin-bottom: 30px;
  }
  a.pdx-blog-listing__tag {
    font-size: 12px;
  }
}

